##########################################
## ADXL345 mounted on Bigtreetech EBB36 ##
##########################################
[resonance_tester]
#   A name of the accelerometer chip to use for measurements. If
#   adxl345 chip was defined without an explicit name, this parameter
#   can simply reference it as "accel_chip: adxl345", otherwise an
#   explicit name must be supplied as well, e.g. "accel_chip: adxl345
#   my_chip_name". Either this, or the next two parameters must be
#   set.
accel_chip: adxl345

[adxl345]
#   If the micro-controller supports multiple SPI busses then one may
#   specify the micro-controller bus name here. The default depends on
#   the type of micro-controller.

# To use spi2b you need
## wget 'https://raw.githubusercontent.com/Klipper3d/klipper/ddf63fb47950e90ce402f3f0a9356514a533ccc8/src/stm32/spi.c' -O ~/klipper/src/stm32/spi.c
## During flashing of the EBB
spi_bus: spi2b

#   The SPI enable pin for the sensor
cs_pin: EBB:ADXL_CS

#   The SPI speed (in hz) to use when communicating with the chip.
#   The default is 5000000.
spi_speed: 5000000

#   Output data rate for ADXL345. ADXL345 supports the following data
#   rates: 3200, 1600, 800, 400, 200, 100, 50, and 25. Note that it is
#   not recommended to change this rate from the default 3200, and
#   rates below 800 will considerably affect the quality of resonance
#   measurements.
rate: 3200

#   The accelerometer axis for each of the printer's X, Y, and Z axes.
#   This may be useful if the accelerometer is mounted in an
#   orientation that does not match the printer orientation. For
#   example, one could set this to "y, x, z" to swap the X and Y axes.
#   It is also possible to negate an axis if the accelerometer
#   direction is reversed (eg, "x, z, -y"). The default is "x, y, z".
axes_map: x,y,z
